html, body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $font-black;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: $link-color;
    cursor: pointer;
    transition: 0.25s color ease;

    &:hover {
        color: darken($theme-blue, 10%);
    }
}