html, body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $font-black;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: $theme-lightgray;
}

p {
    margin: 0;
}

a {
    color: $link-color;
    cursor: pointer;
    transition: 0.25s color ease;
    text-decoration: none;
    
    &:hover {
        color: darken($theme-blue, 10%);
    }
}

h3,h4,h5,h6 {
    margin: 10px 0;
}