@import 'variables';
@import 'mixins';

.Forecast__Container {
    text-align: center;
    padding: 20px 10px;

    .Forecast__Card {
        background-color: $theme-white;
        box-shadow: 2px 2px 7px 3px rgba($theme-black, 0.1); 
        padding: 25px;
        max-width: 1024px;
        margin: 25px auto;
        border-radius: 3px;

        .Forecast__Card__header {
            // background-color: red;
            display: flex;
            align-items: flex-start;

            .__title {
                flex: 1;
                font-size: 24px;
                margin-bottom: 25px;
                transition: 0.1s all ease;
                
                @include for-screen('mobile') {
                    flex: 80%;
                    font-size: 18px;
                }

                b {
                    font-weight: bolder;
                }
                 * {
                     font-weight: normal;
                 }
            }
            
            .__options {
                flex: 1;
                transition: 0.1s all ease;

                @include for-screen('mobile') {
                    flex: 20%;
                    transform: scale(0.8);
                }

                display: flex;
                justify-content: flex-end;
                align-items: center;

                .__options__label {
                    font-weight: bold;
                    font-size: 16px;
                    padding: 0 10px;
                    color: $theme-gray;
                    transition: 0.2s color ease;

                    &.selectedUnit {
                        color: $theme-dark-gray;
                    }
                }
            }
        }

        .Forecast__Card__Body {
            padding: 25px 0;

            .Forecast__Card__Body__inner {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-right: 5px;

                @include for-screen('mobile') {
                    text-align: center;
                }
            } 

            .Forecast__CurrentTemperature__container {
                @include for-screen('mobile') {
                    width: 90%;
                    margin: 0 auto;
                    text-align: center;
                }


                .Forecast__CurrentTemperature {
                    font-size: 48px;
                    display: flex;
                    align-items: center;
                }
            }

        }
        
        .Forecast__Card__Footer {
            margin-top: 15px;

            .FutureForecast__Card {
                cursor: pointer;
                .Forecast__Card__Footer__day {
                    margin: 5px;
                    padding: 15px 0;
                    border: 1px solid $theme-lightgray;
                    background-color: $color-secondary;
                    border-radius: 5px;
                    min-height: 90px;
                    transition: 0.2s all ease;
    
                    .Forecast__Footer__temperature--colored {
                        color: darken($color-secondary, 20%);
                    }
    
                    .Forecast__Day {
                        color: darken($color-secondary, 25%);
                    }
                }      
                
                &:hover,
                &:focus,
                &:active {
                    .Forecast__Card__Footer__day {
                        background-color: darken($color-secondary, 5%);

                        .Forecast__Footer__temperature--colored {
                            color: darken($color-secondary, 25%);
                        }
        
                        .Forecast__Day {
                            color: darken($color-secondary, 30%);
                        }
                    }
                }
            }

        }

    }
}

.WeatherIcon {
    width: 70px;
    height: auto;
}

.WeatherIcon--small {
    width: 50px;
    height: auto;
}



// Switch Button
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        display:none;
    }
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-secondary;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $theme-white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: $color-secondary;
}

input:focus + .slider {
    box-shadow: 0 0 1px $theme-red;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
