@import 'variables';

.Forecast__Container {
    text-align: center;
    padding: 20px 10px;

    .Forecast__Card {
        background-color: $theme-white;
        box-shadow: 2px 2px 7px 3px rgba($theme-black, 0.1); 
        padding: 25px 10px;
        max-width: 1024px;
        margin: 0 auto;
        border-radius: 3px;

        .Forecast__Card__header {
            display: flex;
            align-items: flex-start;

            .__title {
                flex: 1;
                font-size: 24px;
                margin-bottom: 25px;
            }
            
            .__options {
                flex: 1;

                display: flex;
                justify-content: flex-end;
                align-items: center;

                .__options__label {
                    font-weight: bold;
                    font-size: 16px;
                    padding: 0 10px;
                    color: $theme-dark-gray;
                }
            }
        }

        .Forecast__CurrentTemperature {
            font-size: 48px;
        }
    }
}



// Switch Button
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        display:none;
    }
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $theme-gray;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $theme-white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: $theme-blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px $theme-red;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
