.helper-text {
    color: $theme-dark-gray;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.hr--label {
    position: relative;
    margin: 50px auto 50px;
    text-align: center;
    clear: both;
    overflow: hidden;
    &:before {
        content: '';
        position: relative;
        width: 40%;
        background-color: rgba($theme-black,0.2);
        display: inline-block;
        height: 1px;
        vertical-align: middle;
        margin-right: 5px;
    }

    &:after {
        content: '';
        position: relative;
        width: 40%;
        background-color: rgba($theme-black,0.2);
        display: inline-block;
        height: 1px;
        vertical-align: middle;
        margin-left: 5px;
    }
}

.mt-0 {
   margin-top: 0 !important; 
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 5px !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}


.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
    
    @include for-screen('mobile') {
        flex: 100%;
    }

    &.mobile-half {
        @include for-screen('mobile') {
            flex: 50%;
        }
    }
}   

.container {
    max-width: 1024px;
    padding: 25px;
    margin: 0 auto;
}